VITE_REDIRECT_URL=
VITE_OPEN_WEATHER_API_KEY=your_api_key_here
VITE_OPEN_WEATHER_BASE_URL=https://api.openweathermap.org/data/3.0
VITE_WEATHER_UNITS=metric
VITE_LATITUDE=
VITE_LONGITUDE=
VITE_BIRTH_DATE=
VITE_SUPBASE_URL=
VITE_SUPBASE_KEY=

VITE_OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
VITE_OPEN_METEO_RESOURCE_URL=https://open-meteo.com/
VITE_OPEN_METEO_RESOURCE_TITLE=Free Weather API
VITE_OPEN_METEO_ARCHIVE_RESOURCE_URL=https://archive-api.open-meteo.com/v1/archive
 

VITE_MIGRAINE_BACKEND_API_URL=http://localhost:8080