VITE_OPEN_WEATHER_API_KEY=your_api_key_here
VITE_WEATHER_UNITS=metric
VITE_LATITUDE=
VITE_LONGITUDE=
VITE_BIRTH_DATE=
VITE_SUPBASE_URL=
VITE_SUPBASE_KEY=
VITE_REACT_APP_APPWRITE_PROJECT_ID=
VITE_SJCL_KEY_STRENGTH_FACTOR=10000
VITE_SJCL_KEY_SIZE=256
VITE_SJCL_GENERATE_SALT_WORDS=2
VITE_SJCL_GENERATE_SALT_PARANOIA=0